---
import Layout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Banner from "../../../components/Banner.astro";

export async function getStaticPaths() {
  const propuestas = await getCollection("propuestas");

  

  const paths = propuestas.map((p) => {

    return {
      params: {
        categoria: p.data.nivel,
        slug: p.slug.split("/").pop(),
      },
      props: {
        propuesta: p,
        categoria: p.data.nivel,
      },
    };
  });



  return paths;
}



const { propuesta, categoria } = Astro.props;
---

<Layout>
  <Banner
    title={propuesta.data.titulo}
    description={propuesta.data.universidad}
    showButton={false}
    heightClass="py-20"
  />
  <section class="max-w-4xl mx-auto py-12">
    <a href={`/oferta/${categoria}`} class="text-blue-600 text-sm">
      ← Volver a {categoria}
    </a>

    <h1 class="text-4xl font-bold mb-4">{propuesta.data.titulo}</h1>

    <ul class="space-y-1 text-gray-700">
      <li><strong>Universidad:</strong> {propuesta.data.universidad}</li>
      <li><strong>Duración:</strong> {propuesta.data.duracion}</li>
      <li><strong>Modalidad:</strong> {propuesta.data.modalidad}</li>
      <li><strong>Financiamiento:</strong> {propuesta.data.financiamiento}</li>
    </ul>

    <article class="prose mt-8">
      {propuesta.body}
    </article>
  </section>
</Layout>
